.arkicon-star
.arkicon-share
.arkicon-salon
.arkicon-remark
.arkicon-remark-dash
.arkicon-pin-on
.arkicon-pin-off
.arkicon-list
.arkicon-layout
.arkicon-layout.vertical
.arkicon-layout-vertical
.arkicon-helper
.arkicon-fullscreen
.arkicon-notification
.arkicon-comment
.arkicon-bookmark
.arkicon-bookmarks
.arkicon-back
.arkicon-annotation
.arkicon-annotations
.arkicon-annotations-bold
.arkicon-zoom-in
.arkicon-zoom-out
.arkicon-expand
.arkicon-copy
.arkicon-angle-right
.arkicon-angle-left
.arkicon-times
  font-family: 'arkicons'
  color: #7e8282
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.arkicon-zoom-out:before
  font-size: 1.375em
  content: "\e600"

.arkicon-zoom-in:before
  font-size: 1.375em
  content: "\e601"

.arkicon-star:before
  font-size: 1.125em
  content: "\e602"

.arkicon-share:before
  font-size: 1.375em
  content: "\e603"

.arkicon-salon:before
  font-size: 1.1875em
  content: "\e604"

.arkicon-remark:before
  content: "\e605"

.arkicon-remark-dash:before
  content: "\e606"

.arkicon-pin-on:before
  content: "\e607"

.arkicon-pin-off:before
  content: "\e608"

.arkicon-notification:before
  font-size: 1.375em
  content: "\e609"

.arkicon-list:before
  font-size: 0.8125em
  content: "\e60a"

.arkicon-layout.vertical:before
.arkicon-layout-vertical:before
  content: "\e60b"

.arkicon-layout:before
  content: "\e60c"

.arkicon-helper:before
  content: "\e60d"

.arkicon-fullscreen:before
  content: "\e60e"

.arkicon-expand:before
  font-size: 1.375em
  content: "\e60f"

.arkicon-copy:before
  content: "\e610"

.arkicon-comment:before
  content: "\e611"

.arkicon-bookmarks:before
  font-size: 1.125em
  content: "\e612"

.arkicon-bookmark:before
  content: "\e613"

.arkicon-back:before
  font-size: 0.875em
  content: "\e614"

.arkicon-annotations:before
  font-size: 1.1875em
  content: "\e615"

.arkicon-angle-right:before
  content: "\e616"

.arkicon-annotations-bold:before
  content: "\e617"

.arkicon-annotation:before
  content: "\e618"

.arkicon-times:before
  content: "\e619"

.arkicon-angle-left:before
  content: "\e61a"
