.arkicon-star
.arkicon-share
.arkicon-salon
.arkicon-remark
.arkicon-remark-dash
.arkicon-pin-on
.arkicon-pin-off
.arkicon-list
.arkicon-layout
.arkicon-layout.vertical
.arkicon-layout-vertical
.arkicon-helper
.arkicon-fullscreen
.arkicon-notification
.arkicon-comment
.arkicon-bookmark
.arkicon-bookmarks
.arkicon-back
.arkicon-annotation
.arkicon-annotations
.arkicon-annotations-bold
.arkicon-zoom-in
.arkicon-zoom-out
.arkicon-expand
  font-family: 'arkicons'
  color: #7e8282
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased

.arkicon-star:before
  font-size: 1.125em
  content: "\e009"

.arkicon-share:before
  content: "\e00a"

.arkicon-salon:before
  font-size: 1.1875em
  content: "\e00c"

.arkicon-remark:before
  content: "\e00d"

.arkicon-remark-dash:before
  content: "\e00e"

.arkicon-pin-on:before
  content: "\e00f"

.arkicon-pin-off:before
  content: "\e010"

.arkicon-back:before
  font-size: 0.875em
  content: "\e000"

.arkicon-list:before
  font-size: 0.8125em
  content: "\e004"

.arkicon-layout.vertical:before
.arkicon-layout-vertical:before
  content: "\e005"

.arkicon-layout:before
  content: "\e006"

.arkicon-helper:before
  content: "\e007"

.arkicon-fullscreen:before
  content: "\e00b"

.arkicon-notification:before
  font-size: 1.375em
  content: "\e003"

.arkicon-comment:before
  content: "\e011"

.arkicon-bookmarks:before
  font-size: 1.125em
  content: "\e012"

.arkicon-bookmark:before
  content: "\e013"

.arkicon-annotation:before
  content: "\e008"

.arkicon-annotations:before
  font-size: 1.1875em
  content: "\e001"

.arkicon-annotations-bold:before
  content: "\e002"

.arkicon-zoom-in:before
  font-size: 1.375em
  content: "\e014"

.arkicon-zoom-out:before
  font-size: 1.375em
  content: "\e015"

.arkicon-expand:before
  content: "\e016"
