@import "mixins/css3"
@import "reset"
@import "button"
@import "nav"

body
  font: 12px/1.5 "Helvetica Neue", Helvetica, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif

a
a:hover
  color: #6e3939
  text-decoration: none

a:hover
  color: white
  background-color: #6e3939
