.btn
.btn:hover
  display: inline-block
  *display: inline
  *zoom: 1
  font-size: 13px
  color: white
  padding: 4px 12px
  margin-bottom: 0
  line-height: 1.1
  background-color: #6e3939
  border: 1px solid #6e3939
  border-radius: 3px
  cursor: pointer
  vertical-align: middle
  text-decoration: none

.btn-info
.btn-info:hover
  color: #6e3939
  border-color: #d3d3cc
  background-color: #e5e5dd

.btn-info:hover
  background-color: #dbdbd4

.btn-minor
.btn-minor:hover
  color: #888
  border-color: #ddd
  background-color: @border-color

.btn-read
.btn-read:hover
  border-color: #6e839a
  background-color: @border-color

.btn-large
.btn-large:hover
  font-size: 14px
  padding: 5px 12px

.btn
.btn:hover
  *padding-bottom: 3px

input.btn
button.btn
  *line-height: 11px

input.btn
  *padding: 6px 12px 1px
input.btn.btn-large
  *padding: 7px 12px 3px
