@import "variable"

.btn
.btn:hover
  inline-block()
  font-size: 13px
  color: white
  padding: 4px 12px
  margin-bottom: 0
  line-height: 1.1
  background-color: #825d5b
  border: 1px solid #825d5b
  border-radius: 3px
  cursor: pointer
  vertical-align: middle
  text-decoration: none

.btn-info
.btn-info:hover
  color: #825d5b
  border-color: #d3d3cc
  background-color: #e5e5dd

.btn-info:hover
  background-color: #dbdbd4

.btn-minor
.btn-minor:hover
  color: #888
  border-color: #ddd
  background-color: @border-color

.btn-read
.btn-read:hover
  border-color: #6e839a
  background-color: @border-color

.btn-green
.btn-green:hover
  background-color: $sageGreen
  border-color: $sageGreen

.btn-disabled
.btn-disabled:hover
  color: #aaa
  border-color: #ddd
  background-color: $grayLighter
  padding: 4px 12px
  cursor: not-allowed

.btn-large
.btn-large:hover
  padding: 6px 14px

.btn-huge
.btn-huge:hover
  font-size: 16px
  padding: 10px 40px

input
button
  &.btn-link
    display: inline
    color: $linkColor
    line-height: 1
    padding: 1px 0
    vertical-align: middle
    font-size: $baseFontSize
    border: none 
    background: none
    &:hover
      color: #fff
      background: $linkColor

// for Firefox
unquote("
  @-moz-document url-prefix() {
    input.btn
    input.btn:hover {
      padding: 3px 12px;
    }
  }
")

// for IE 6/7
input.btn
input.btn:hover
button.btn
button.btn:hover
  *padding-bottom: 0
  _padding: 4px 12px
  _line-height: 11px

// for IE 9
:root
  .btn
  .btn:hover
    padding: unquote("5px 12px 3px\9")

  .btn-large
  .btn-large:hover
    padding: unquote("6px 14px\9")

  .btn-huge
  .btn-huge:hover
    padding: unquote("10px 40px\9")

input.btn
  _padding-top: 6px
  _padding-bottom: 2px 

.btn-large
.btn-large:hover
  *line-height: 18px
  *padding-top: 3px

input.btn-huge
input.btn-huge:hover
button.btn-huge
button.btn-huge:hover
  *padding: 8px 40px 6px
  _padding: 8px 40px 12px

input
button
  &.btn-link
    _padding: 3px 0 0
    *height: $baseFontSize
    *cursor: pointer
