.btn
.btn:hover
  font-size: 13px
  color: white
  background-color: #6e3939
  padding: 4px 12px
  line-height: 1.1
  border: 1px solid #6e3939
  border-radius: 3px
  cursor: pointer
  text-decoration: none

.btn-info
.btn-info:hover
  color: #6e3939
  border: 1px solid #d3d3cc
  background-color: #e5e5dd

.btn-info:hover
  background-color: #dbdbd4

.btn-minor
.btn-minor:hover
  color: #888
  border: 1px solid #ddd
  background-color: #ddd

.btn-action
.btn-action:hover
  border: 1px solid #6e839a
  background-color: #6e839a

.btn-large
.btn-large:hover
  font-size: 14px
  padding: 5px 12px
