body
  padding: 30px 50px

header
  margin-bottom: 30px

header h1
  font-weight: bold
  font-size: 50px
  line-height: 1

header h2
  color: #999
  font-size: 16px

.table
  width: 100%
  min-width: 740px;
  border: 1px solid #ddd
  border-left: 0
  border-spacing: 0
  border-collapse: separate
  border-radius: 4px

.table th
.table td
  padding: 8px
  line-height: 18px
  border-top: 1px solid #ddd
  border-left: 1px solid #ddd

.table thead th
.table thead td
  font-weight: bold
  border-top: none

.table tr:nth-child(odd) td
  background #f7f7f7

.table thead:first-child tr:first-child th:first-child
.table tbody:first-child tr:first-child td:first-child
  border-top-left-radius: 4px

.table thead:last-child tr:last-child th:first-child
.table tbody:last-child tr:last-child td:first-child
  border-radius: 0 0 0 4px

code
  border: 1px solid #eaeaea
  background #f8f8f8
  padding: 1px 5px
  margin: 0 2px
  border-radius: 3px
  white-space: nowrap

