@import "variable"

body
  padding: 15px
  width: 936px 
  margin: 0 auto

header
  margin-bottom: 30px

header h1
  font-weight: bold
  font-size: 60px
  line-height: 1

header h2
  font-weight: normal
  color: $grayLight
  font-size: 16px

.container
  min-width: 700px

.mod
  margin-bottom: 30px
  .hd
    margin-bottom: 15px
    h3
      color: black
      font-size: 20px

  section .hd h3
    color: $gray
    font-size: 18px

code
  font: normal $baseFontSize $monoFontFamily
  border: 1px solid #eaeaea
  background #f8f8f8
  padding: 1px 5px
  margin: 0 2px
  border-radius: 3px
  white-space: nowrap

blockquote
  padding: 10px 15px
  background-color: #f7f7f7

// docs table
.table-zebra tbody tr:nth-child(odd) td
.table-zebra tbody tr:nth-child(odd) th
  background-color: #f9f9f9

.nav-store .inner
  width: 93%

#typography p
  font-size: 13px

#layout .col
  height: 34px
  position: relative
  background-color: #f3f3f3

#layout .col:hover
  background-color: $grayLighter

#layout .col code
  position: absolute
  top: 6px
  left: 4px

#store .main
  margin-bottom: 20px

#lists
  margin: 20px 0 -40px
  .list-col li
    color: #ddd
    height: 134px
    line-height: @height
    text-align: center
    background-color: #f3f3f3
    &:hover
      background-color: $grayLighter

  .list-col2 li
    font-size: 28px

  .list-col5 li
    font-size: 16px

#lists code
  position: relative
  top: -2px
  margin-left: 10px
  font-size: $baseFontSize
