@import "mixins"
@import "variable"

label
input
button
select
textarea
  font-size: 13px
  line-height: $baseLineHeight

input
button
select
textarea
  font-family: $baseFontFamily

textarea
input[type="text"]
input[type="password"]
input[type="datetime"]
input[type="datetime-local"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="week"]
input[type="number"]
input[type="email"]
input[type="url"]
input[type="search"]
input[type="tel"]
input[type="color"]
  inline-block()
  padding: 4px
  height: 20px
  line-height: 19px
  border: 1px solid #ccc
  &.focused
  &:focus
    outline: 0
    border-color: #aaa
  &.error
    border-color: $errorColor
    border-right-width: 2px

textarea
  height: auto

.field-group
  margin-bottom: 15px

.field-label
  color: $grayDark
  font-size: 14px

select
input[type="file"]
  height: 28px
  line-height: @height

select
  border: 1px solid #ccc

input[disabled]
select[disabled]
textarea[disabled]
input[readonly]
select[readonly]
textarea[readonly]
  color: #aaa
  padding: 4px
  background-color: $grayLighter
  border: 1px solid #ddd

input[disabled]
select[disabled]
textarea[disabled]
  cursor: not-allowed

input[readonly]
select[readonly]
textarea[readonly]
  color: $grayLight
  cursor: text
  background-color: #f7f7f7

// Radios & Checkboxs
input[type="radio"]
input[type="checkbox"]
  margin: 3px 0
  *margin-top: 0
  line-height: normal

.radio
.checkbox
  inline-block()
  color: $gray
  margin: 5px 15px 0 0

.radio input[type="radio"]
.checkbox input[type="checkbox"]
  float: left
  margin-right: 5px

.help-block
  color: #999
  margin: 5px 0 0

.help-inline
  inline-block()
  color: #999
  padding-left: 8px
  vertical-align: middle

.error
  color: $errorColor

.form-actions
  button
    margin-right: 5px

.fields-inline
  input
    margin-right: 5px

.form-horizontal
  .field-group:after
    display: table
    content: ''
    clear: both

  .field-group
    *zoom: 1

  .field-label
    float: left
    width: 100px
    margin-top: 3px
    text-align: right

  .fields
  .fields-inline
    margin-left: 120px
    
  .form-actions
    margin: 10px 0 0 120px

.form-vertical
  .form-actions
    padding-top: 8px
  .field-label
    display: block
    margin-bottom: 3px

.multi-input input
  margin-bottom: 8px

.multi-input .help-inline
  margin-top: -8px
