.list li
  display: block

.list-lined li
  margin-bottom: 8px
  padding-bottom: 8px
  border-bottom: 1px solid #eee

.list-col2 li
  display: inline-block
  *display: inline
  zoom: 1
  width: 47%
  margin: 0 6% 4% 0

.list-col2 li:nth-child(even)
  margin-right: 0
