.nav:after
.items-minor:after
  display: table
  content: ''
  clear: both

.nav
  padding: 9px 0 10px
  background-color: #f6f6f1
  border-top: 1px solid #eee
  .inner
    margin: 0 auto

.items
  float: left
  li
    inline-block()
    margin-right: 30px
    color: #4b4b4b
    font-size: 13px
    line-height: 1
  a, .on
    padding: 3px 6px
  a
    display: block
  .on
    color: #fff
    background: #bbb

.items-minor
  float: right
  margin-top: 6px
  line-height: 1
  a
    display: inline
    line-height: 1
    padding: 0
  li
    display: inline
    font-size: $baseFontSize
    margin-right: 10px
    white-space: nowrap
    &:first-child:before
      content: ''
      margin: 0
    &:before
      content: '|'
      color: #adada9
      margin-right: 10px
    &:last-child
      margin-right: 0

// for IE 6&7
.nav
.items-minor
  *zoom: 1

.nav .items-minor
  *margin-top: 4px

.items-minor a
  *line-height: 1.2
