.nav-store:after
.items-minor:after
  display: table
  content: ''
  clear: both

.nav-store
  font-size: 14px
  padding: 8px 0
  background-color: #ebebe4
  border-top: 1px solid #ddd

.nav-store .inner
  width: 93%
  margin: 0 auto

.nav-store .items
  float: left
  line-height: 1

.items li
  display: inline
  margin-right: 40px

.items a
  display: inline-block
  line-height: 1
  padding: 5px
  border-radius: 3px

.nav-store .items-minor
  float: right
  font-size: 12px
  margin-top: 6px

.items-minor li
  display: inline
  margin-right: 10px
  white-space: nowrap

.items-minor li:first-child:before
  content: ''

.items-minor li:before
  content: '|'
  color: #adada9
  margin-right: 10px

.items-minor a
  display: inline
  padding: 0
  border-radius: 0

// for IE 6&7
.items a
  *display: inline
  *zoom: 1

.nav-store
.items-minor
  *zoom: 1

.nav-store .items-minor
  *margin-top: 4px

.items-minor a
  *line-height: 1.2
