@import "mixins"

table
  max-width: 100%
  background-color: transparent
  border-collapse: collapse
  border-spacing: 0

.table
  width: 100%
  margin-bottom: 18px

.table th
.table td
  padding: 8px
  line-height: 18px
  text-align: left
  vertical-align: middle
  border-top: 1px solid #ddd

.table th
  font-size: 13px
  font-weight: bold

.table thead th
  vertical-align: bottom

.table caption + thead tr:first-child th
.table caption + thead tr:first-child td
.table colgroup + thead tr:first-child th
.table colgroup + thead tr:first-child td
.table thead:first-child tr:first-child th
.table thead:first-child tr:first-child td
  border-top: 0

.table tbody + tbody
  border-top: 2px solid #ddd

.table-bordered
  border: 1px solid #ddd
  border-collapse: separate
  *border-collapse: collapsed
  border-left: 0
  border-radius: 4px

.table-bordered th
.table-bordered td
  border-left: 1px solid #ddd

.table-bordered caption + thead tr:first-child th
.table-bordered caption + tbody tr:first-child th
.table-bordered caption + tbody tr:first-child td
.table-bordered colgroup + thead tr:first-child th
.table-bordered colgroup + tbody tr:first-child th
.table-bordered colgroup + tbody tr:first-child td
.table-bordered thead:first-child tr:first-child th
.table-bordered tbody:first-child tr:first-child th
.table-bordered tbody:first-child tr:first-child td
  border-top: 0

.table-bordered thead:first-child tr:first-child th:first-child
.table-bordered tbody:first-child tr:first-child td:first-child
  border-top-left-radius: 4px

.table-bordered thead:first-child tr:first-child th:last-child
.table-bordered tbody:first-child tr:first-child td:last-child
  border-top-right-radius: 4px;

.table-bordered thead:last-child tr:last-child th:first-child
.table-bordered tbody:last-child tr:last-child td:first-child
  border-radius: 0 0 0 4px
  border-bottom-left-radius: 4px

.table-bordered thead:last-child tr:last-child th:last-child
.table-bordered tbody:last-child tr:last-child td:last-child
  border-bottom-right-radius: 4px;

.table-striped tbody tr:nth-child(odd) td
.table-striped tbody tr:nth-child(odd) th
  background-color: #e6e6dd
