@import "variable"

body
  font: $baseFontSize/$baseLineHeight $baseFontFamily

a, a:hover
  color: $linkColor
  text-decoration: none

a:hover
  color: white
  background-color: $linkColor

h1, h2, h3
  color: black
  font-weight: bold

h1
  font-size: 20px

h2
  font-size: 16px

h3
  font-size: 14px

p
  margin-bottom: 10px

b, em
.text-bold
  font-weight: bold

i
  font-style: italic

q:before
q:after
blockquote:before
blockquote:after
  content: ''

ul, ol
  font-size: 0
  li
    font-size: $baseFontSize

.list li
  display: block
  margin-bottom: 3px

.list-lined li
  margin-bottom: 8px
  padding-bottom: 8px
  border-bottom: 1px solid #eee

.list-col li
  inline-block()
  vertical-align: top

.list-col2
  margin-right: -30px
  li
    width: 297px
    margin: 0 30px 20px 0

.list-col5
  margin-right: -43px
  li
    width: 90px
    margin: 0 43px 15px 0
    text-align: center

.tags
  line-height: 0
  li
    display: inline
  a
    inline-block()
    line-height: 1
    margin: 0 7px 6px 0
    padding: 6px 10px
    background-color: #ebebe4
    word-wrap: break-word
    overflow: hidden
  a:hover
   color: $linkColor
   background-color: #dbdbd4

