$column = 48px
$gutter = 24px

// colors
$grayDarker = #222
$grayDark = #333
$gray = #666
$grayLight = #999
$grayLighter = #eee

$sageGreen = #67a88f

$linkColor = #825d5b
$errorColor = #b85f5f

$sansFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$codeFont = Consolas,"Liberation Mono","BitStream Vera Sans Mono",CourierNewPS-BoldMT,"Courier New",Courier,monospace

$baseFontSize = 12px
$baseLineHeight = 1.5
$baseFontFamily = $sansFontFamily
