$grayDarker = #222
$grayDark = #333
$gray = #666
$grayLight = #999
$grayLighter = #eee

$linkColor = #6e3939

$sansFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$monoFontFamily = Menlo, Monaco, Consolas, "Courier New", monospace

$baseFontSize = 12px
$baseLineHeight = 1.5
$baseFontFamily = $sansFontFamily
