clearfix()
  *zoom: 1
  &:before
  &:after
    display: table
    content: ''
    line-height: 0
  &:after
    clear: both

inline-block()
  display: inline-block
  *display: inline
  *zoom: 1

opacity(alpha)
  opacity: alpha
  filter: unquote('alpha(opacity=' + alpha*100 +  ')');

background-image-uri(img)
  background-image: uri(img)
  *background-image: url(img)
  _background-image: url(img)
