doctype
html
  head
    meta(charset='UTF-8')
    title= 'arkui'
    style
      include ../css/docs.css
    script.
      (function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})()

  body
    block nav
    - nav_items = [{ title: 'Base CSS', name: 'index' }]
    - nav_items.push({ title: 'Layouts', name: 'layouts' })
    - nav_items.push({ title: 'Components', name: 'components' })

    nav.navbar
      ul.inner
        each item in nav_items
          li
            - klass = page_name === item.name ? 'active' : ''
            a(href= item.name + '.html', class= klass)
              = item.title
    header
      .inner
        h1 Arkui
        h2 Basic UI components for Douban Read.
    .container
      block content
    footer
