section#typography
  .hd
    h2 Typography
  .bd

section#forms
  .hd
    h2 Forms 
  .bd

section#icons
  .hd
    h2 Icons
  .bd

section#buttons
  .hd
    h2 Buttons
  .bd
    table
      thead
        tr
          th Button
          th class=""
          th Description
