@import "../variable"

.alert
  color: #863434
  border-width: 1px
  border-style: solid
  border-color: #f2f2f2
  padding: 12px 12px 12px 35px
  background: @border-color url(/pics/icon-alert.png) no-repeat 10px center
