@import "../variable"

.pagination
  padding-top: 25px

.pagination ul
  text-align: center

.pagination li
  display: inline
  color: #aaa
  font-size: 14px
  margin: 0 4px

.pagination a
  inline-block()
  line-height: 1
  padding: 2px 5px

.pagination .active
  color: #fff
  cursor: default
  background-color: $linkColor

.pagination .prev
  margin-right: 15px

.pagination .next
  margin-left: 15px
