@import "../mixins"
@import "../variable"

.stars-context
.stars-small-context
  inline-block()
  vertical-align: -5px
  overflow: hidden
  width: 96px
  height: 18px
  margin-left: 4px
  background: url(/pics/rating-stars.png) no-repeat

.stars-
.stars-null
.stars-0
  background-position: 0px -110px

.stars-1
  background-position: 0px -88px

.stars-2
  background-position: 0px -66px

.stars-3
  background-position: 0px -44px

.stars-4
  background-position: 0px -22px

.stars-5
  background-position: 0px 0px

.stars-small-context
  width: 75px
  margin-left: 5px
  background-image: url(/pics/rating-stars-small.png)
  *vertical-align: -2px

.stars-small-0
  background-position: 0px -99px

.stars-small-1
  background-position: 0px -79px

.stars-small-2
  background-position: 0px -59px

.stars-small-3
  background-position: 0px -38px

.stars-small-4
  background-position: 0px -18px

.stars-small-5
  background-position: 0px 1px

.rating-status
  margin-top: 30px
  .rating-stars
    vertical-align: middle
  .rating-num
    inline-block()
    color: #825d5b
    font-size: 14px
    vertical-align: top
    padding-left: 5px

.rating-stat
  margin-top: 20px
  .item
    margin-bottom: 5px
    color: #111
    font-size: 0
    .rank-name
    .bar
    .rank-rate
    .rating-stars
      vertical-align: middle
    .rating-stars
      margin-top: 1px;
    .rank-name
      color: #666
      font-size: 12px
    .bar
      margin: 0 8px 0 2px
    .rank-rate
      color: #111
      font-size: 12px

.bar-chart .bar
  inline-block()
  background-color: #825d5b
  height: 15px

.star-region
  float: left
  opacity(0)
  cursor: pointer
.stars-context
  .star-region
    width: 19px
    height: 18px
.stars-small-context
  .star-region
    width: 13px
    height: 13px
    margin-right: 2px

.rating
  .label
    margin-right: 5px
