table#buttons.table.table-bordered.table-striped
  thead
    tr
      th Button
      th Input
      th Link
      th class=""
      th Description
  tbody
    tr
      td
        button.btn 购买
      td
        input.btn(type='button', value='购买')
      td
        a.btn(href='#') 购买
      td
        code btn
      td 书店标准按钮
    tr
      td
        button.btn.btn-large 账户充值
      td
        input.btn.btn-large(type='button', value='账户充值')
      td
        a.btn.btn-large(href='#') 账户充值
      td
        code btn btn-large
      td 比标准尺寸大些的按钮
    tr
      td
        button.btn.btn-minor 试读
      td
        input.btn.btn-minor(type='button', value='试读')
      td
        a.btn.btn-minor(href='#') 试读
      td
        code btn btn-minor
      td 执行次要操作的按钮，通常伴随标准按钮出现
    tr
      td
        button.btn.btn-info 分享
      td
        input.btn.btn-info(type='button', value='分享')
      td
        a.btn.btn-info(href='#') 分享
      td
        code btn btn-info
      td 对特定条目进行操作的按钮
    tr
      td
        button.btn.btn-read 阅读
      td
        input.btn.btn-read(type='button', value='阅读')
      td
        a.btn.btn-read(href='#') 阅读
      td
        code btn btn-read
      td 豆瓣阅读专属按钮
