table#buttons.table
  thead
    tr
      th 按钮
      th 链接
      th class=""
      th 描述
  tbody
    tr
      td
        button.btn 购买
      td
        a.btn(href='#') 加入列表
      td
        code btn
      td 书店标准按钮
    tr
      td
        button.btn.btn-large 为账户充值
      td
        a.btn.btn-large(href='#') 为账户充值
      td
        code btn btn-large
      td 比标准尺寸大些的按钮
    tr
      td
        button.btn.btn-action 阅读
      td
        a.btn.btn-action(href='#') 阅读
      td
        code btn btn-read
      td 豆瓣阅读专属按钮
    tr
      td
        button.btn.btn-minor 试读
      td
        a.btn.btn-minor(href='#') 试读
      td
        code btn btn-minor
      td 执行次要操作的按钮，通常伴随标准按钮出现
    tr
      td
        button.btn.btn-info 分享
      td
        a.btn.btn-info(href='#') 赠送
      td
        code btn btn-info
      td 对特定条目进行操作的按钮
