extends ../layout

block nav
  - page_name = 'components'

block content
  - menu_components_items = [{ name: 'Pagination', anchor: 'pagination'}]
  - menu_components_items.push({ name: 'Rating', anchor: 'Rating'})

  - rating_list = [{ name: '力荐', rank: 5 }]
  - rating_list.push({ name: '推荐', rank: 4 })
  - rating_list.push({ name: '还行', rank: 3 })
  - rating_list.push({ name: '较差', rank: 2 })
  - rating_list.push({ name: '很差', rank: 1 })

  .mod#nav
    nav.nav.nav-store
      .inner
        ul.items
          each item in menu_components_items
            li
              a(href='#' + item.anchor)= item.name

  .main
    article.col.col9
      .mod#pagination
        .hd
          h3 Pagination
        .bd
          .pagination
            ul
              li.prev
                &lt;&nbsp;前页
              each i in [1,2,3,4,5,'...',17,18]
                li
                  if (i === 1)
                    a(href='#').active= i
                  else if (i === '...')
                    =i
                  else
                    a(href='#')= i
              li.next
                a(href='#') 后页&nbsp;&gt;
      .mod#alerts
        .hd
          h3 Alerts
        .bd
          .alert .alert
    aside.col.col4
      .mod#rating
        .hd
          h3 Rating
        .bd
          .rating-status
            .rating-result(title='5.0')
              span.rating-stars.stars-context.stars-3
              strong.rating-num 5.0
            ul.rating-stat.bar-chart
              each item in rating_list
                - rank_value = item.rank * 10
                - rank_class = 'stars-small-' + item.rank
                li.item
                  span.rank-name= item.name
                  span.rating-stars.stars-small-context(title= item.rank, class= rank_class)
                  span.bar(style='width:' + rank_value + 'px')
                  span.rank-rate= rank_value + '%'
