!!! 5
html
  head
    meta(charset='UTF-8')
    title= 'arkui'
    link(href='css/arkui.css', rel='stylesheet', type='text/css')
    link(href='css/docs.css', rel='stylesheet', type='text/css')

  body
    header
      h1 Arkui
      h2 Basic UI components for Douban Read.
    .container
      != body
    footer
