@import "vendor"

transform-origin()
  vendor('transform-origin', arguments)

transform()
  vendor('transform', arguments)

transition()
  vendor('transition', arguments)

transition-property()
  vendor('transition-property', arguments)

transition-duration()
  vendor('transition-duration', arguments)

transition-timing-function()
  vendor('transition-timing-function', arguments)

transition-delay()
  vendor('transition-delay', arguments)
