/**
 * Refer to Nib:
 * repo: https://github.com/visionmedia/nib/blob/master/lib/nib/vendor.styl
 * commit: 626921de2d8ee83adb727325f4a7043bb82a42cf
 */

is-comma-list()
  return match('\), \(', ''+arguments)

literal-join(string, literals)
  result = unquote('')
  first = true
  for args in literals
    subresult = unquote('')
    for arg in args
      subresult = subresult arg
    if first
      result = subresult
      first = false
    else
      result = s('%s%s%s', result, unquote(string), subresult)
  return result

replace-args(args,argument,val)
  result = ()
  // Checking if there are values divided by comma
  if is-comma-list(args)
    for subargs in args
      subresult = ()
      for arg in subargs
        arg = unquote(val) if arg == argument
        push(subresult, arg)
      subresult = literal-join(' ', subresult) if length(subresult) > 1
      push(result, subresult)
    result = literal-join(', ', result)
  else
    for arg in args
      arg = unquote(val) if arg == argument
      push(result, arg)
  return result

vendor-prefixes ?= webkit moz o ms official

vendor(prop, args, only = null, ignore = null)
  for prefix in vendor-prefixes
    unless (only and !(prefix in only)) or (ignore and prefix in ignore)
      if official == prefix
        {prop}: args
      else
        newargs = args
        // Adjusting the args if needed
        if prop in ('transition' 'transition-property')
          newargs = replace-args(args, transform, '-' + prefix + '-transform')
        {'-' + prefix + '-' + prop}: newargs
